@import url('http://fonts.cdnfonts.com/css/poppins');

html, 
body {
    height: 100%;
    font-family: 'Poppins';
}

body{
    width: 100%;
    background-color: #1e89c3;
    padding: 0px;
    margin: 0px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 0px 20px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
    height: 65px;
    border-radius: 10px;    
    color: #ffff;
    background-color: rgba(123,184,218,255);
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
}

::placeholder{
    color:#ffff
}

button {
    background-color: #629dd2;
    font-size: 19px;
    padding: 10px 80px;
    font-weight: 700;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'Poppins';
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;
}

.logo__cadastro{
    width: 90%;
    height: 80%;
    max-height: 540px   ;
}


