@import url('http://fonts.cdnfonts.com/css/poppins');

body {

    background-color: #1e89c3;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #297bb3;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    width: 100%;

    margin: 0px;
    padding: 0px;
}

li {
    font-family: 'Poppins';
    color: #ffff;
}

.entrada{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cadastro{
    padding: 10px 30px;
    margin: 0px 20px;


    border-radius: 100px;
    background-color: #35a15e;
    color: #ffff;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 700;
    border: none;
    font-size: 15px;
}

.login {
    color: #ffff;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

.home {
    width: 100px;
}

.bloco__principal {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    padding: 50px 0px;
}

.homem {
    width: 45%;
    max-width: 500px;
    padding: 0px 40px;
}

.flutuante {
    width: 20%;
}

.planos {
    border-radius: 100px;
    background-color: #629dd2;
    font-size: 20px;
    color:aliceblue;
    border: none;
    cursor: pointer;
    padding: 10px 50px;
    margin: 20px;
    font-weight: 700;
    font-family: 'Poppins';
}

.bloco__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.logo {
    max-width: 300px;
}

.redes{
    display: flex;
    flex-direction: row;

    padding: 0px 30px;
}

.redes img{
    width: 50px;
    height: 50px;
}
