@import url('http://fonts.cdnfonts.com/css/poppins');

body {
    background-color: #1987c3;
    margin:0px;
    padding: 0px;
    font-family: 'Poppins';
}

html, 
body {
    height: 100%;
    font-family: 'Poppins';
}

.tela {
    border: none;
    width: 100%;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: calc(50% -  60px);
    padding: 60px;

}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

input:focus{
    outline: none;
}

input {
    padding: 0px 20px;
    margin-bottom: 15px;

    width: 100%;
    max-width: 350px;
    height: 65px;
    
    border-radius: 10px;
    font-size: 20px;
    color: #ffff;
    background-color: rgba(123,184,218,255);
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
}

::placeholder{
    color:#ffff
}

button {

    background-color: #629dd2;
    font-size: 19px;
    padding: 10px 80px;
    font-weight: 700;
    color:aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'Poppins';
}

.logo{
    display: flex;
    justify-content: center;
    width: 50%;
}