@import url('http://fonts.cdnfonts.com/css/poppins');
:root{
     --main-color: #1f89c2;
     --main-color-light: #e6f6ff;
     --main-text-ct: #fff;
     --color-cinza1: #979595;
     --main-safe: #3ca162;
     --main-danger: #FF5757;
     --main-alert: #FF914D;
    

     --dim-materia: 30%;
     --dim-evento: 70%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 30px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-cinza1);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sucesso p{background-color: var(--main-safe);}
.perigo p{background-color: var(--main-danger);}
.atencao p{background-color: var(--main-alert);}

.navbar__esquerda{
    position: absolute;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 80px;

    border-radius: 0 20px 20px 0px;
}

.navbar__superior{
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;

}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 180px;
    height: 50px;

    margin-left: calc(100% - 200px);
    /* background-color: black; */
}

.icon__perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    /* margin-left: calc(100% - 50px); */
    border-radius: 50%;
}

.nome__perfil{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
}

.nome__perfil p{
    margin: 0;
}

.nome{
    font-size: 15px;
    font-weight: 700;
}
.curso{
    font-size: 12px;
    color: var(--color-cinza1);
}

.main__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;

    margin: 85px 0px 0px 85px;
    padding: 0 15px;
    width: calc(100% - 115px);
    min-width: 900px;
    height: calc(100% - 86px);
}

.titulo__container{
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;
}

.tiutlo__materia{
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--dim-materia);
    height: 100%;

    font-size: 17px;
    font-weight: 700;
}

.tiutlo__evento{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: var(--dim-evento);
 
    font-size: 17px;
    font-weight: 700;

    border: 1px solid var(--main-color);
    border-radius: 30px;
}

.tiutlo__evento p {
    width: 100%;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
}
.tiutlo__evento p:hover{
    color: var(--main-text-ct);
    background: rgb(255,142,80);
    background: linear-gradient(207deg, rgba(255,142,80,1) 0%, rgba(255,183,94,1) 100%);
    cursor: pointer;
}


.evento__ativo {
    background-color: var(--main-color);
    color: var(--main-text-ct)
}

.funcao__container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 100%;
    margin: 10px 0px;
}

.funcao__meteria{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    width: var(--dim-materia);
}


.funcao__btn{
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-text-ct);
    font-size: 30px;
    font-weight: 700;

    width: 45px;
    height: 45px;

    margin: 0px 5px;
    background-color: var(--main-color);
    border-radius: 50%;

    cursor: pointer;
    transition: 0.3s;
}

.funcao__btn:hover{
    color: var(--main-text-ct);
    background: rgb(255,142,80);
    background: linear-gradient(207deg, rgba(255,142,80,1) 0%, rgba(255,183,94,1) 100%);
    cursor: pointer;
}


.funcao__evento{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    height: 100%;
    width: var(--dim-evento);
}


.funcao__atividade{
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;

    width: 50%;
}

.comando{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}

.filtro__salvar{
    color: var(--main-text-ct);
    font-size: 15px;
    font-weight: 600;


    padding: 3px 35px;
    border-radius:  30px;
    background-color: var(--main-safe);

    margin: 0px 20px;
    cursor: pointer;
    opacity: 0.8;
}
.filtro__salvar:hover{
    opacity: 1;
}

.funcao__provas{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    font-weight: 700;
    width: 50%;
}

.dado__containter{
    display: flex;
    width: 100%;
    height: calc(100% - 145px);
}

.dado__materia{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: var(--dim-materia);
    overflow-y: scroll;
}

.materia{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 10px;
    width: calc(100% - 20px);
    cursor: pointer;
}

.materia__principal{
    padding: 5px 15px;
    border-radius: 10px;
    width: 100%;
}
.materia__principal:hover{
    background-color: var(--main-color-light);
}

.materia__principal p{
    margin: 5px 0px !important;
    font-weight: 600;
}

.materia__principal span{
    color: var(--color-cinza1);
    font-size: 14px;
}


.dado_evento{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: var(--dim-evento);
}

.materia__iconNext{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.evento{
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);

    margin: 15px 0px;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.evento:hover{
    background-color: var(--main-color-light);
}

.principal__evento{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}
.princial__descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 100%;
}
.princial__descricao p{
    margin: 0;
    color: var(--color-cinza1);
    font-size: 14px;
    padding: 0px 60px;
}


.dado__evento{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: var(--dim-evento);
    overflow-y: scroll;
}
.primerio__dado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}
.primerio__dado p{
    margin: 5px 0px !important;
    font-weight: 500;
}
.primerio__dado span{
    color: var(--color-cinza1);
    font-size: 14px;
}
.segundo__dado{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.segundo__dado p{
    margin: 0;
    padding: 2px 10px;
    min-width: 100px;
    text-align: center;

    font-size: 13px;
    font-weight: 700;
    color: var(--main-text-ct);
    
    border-radius: 30px;
}


.toggle-switch {
    width: 45px;
    height: 20px;
    line-height: 30px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}
.toggle-switch::before {
    content: '';
    position: absolute;
    background-color: #acacac;
    width: calc(100% - 5px);
    padding-left: 3px;
    height: inherit;
    line-height: inherit;
    border-radius: 100px;
}
.toggle-switch::after {
    content: '';
    position: absolute;
    top: 9.5%;
    left: 5.5%;
    width: 38%;
    height: 80%;
    background-color: white;
    border-radius: 100%;
    transition: all 0.2s;
}
.toggle-switch:checked::before {
    /* content: 'On'; */
    color: white;
    background-color: var(--main-color);
}
.toggle-switch:checked::after {
    left: 49.5%;
}


.desativado{
    display: none !important;
}

.popup__materia{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    width: 100%;
    height: 100%;

    z-index: 100;
}

.container__materia{
    background-color: var(--main-text-ct);
    border-radius: 30px;
    border: 1px solid var(--main-color);
    box-shadow: 12px 10px 13px 0px rgb(0 0 0 / 20%);

    width: 50%;

    max-width: 500px;
}

.fundo__popup--vanilla{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.container__top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 31px 31px  0px 0px;
}

.fundo__top--popup{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    padding: 0px 14px;
}
.close__popup{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-danger);
    
    color: var(--main-text-ct);
    font-family: 'Poppins', sans-serif;
    font-weight: 700 ;

    border-radius: 50%;
    width: 25px;
    height: 25px;

    cursor: pointer;
}
.popup__nome{
    color: var(--main-text-ct);
    font-family: 'Poppins', sans-serif;
}


.container__meio{
    width: calc(100% - 150px);
    margin: 30px 0px;
}
.container__meio form{
    display: flex;
    flex-direction: column;
}
.container__meio input{
    margin: 5px 0px;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    padding: 10px 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.container__meio select{
    margin: 5px 0px;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    padding: 10px 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container__meio form button{
    padding: 10px;
    margin: 15px 0px 0px 0px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-safe);

    color: var(--main-text-ct);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}



.container__footer{
    height: 40px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 0px 0px 31px 31px;
}


.funcoes{
    display: none;
    justify-content: row;
    transition: 0.5s;
    margin: 10px 0px;
}
.funcoes button{
    margin: 0px 5px;
}
.materia__principal:hover .funcoes{
    display: flex;
    transition: 0.5s;
}
.delete__btn{
    background-color: var(--main-danger);
    padding: 0px 10px !important;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}
.editar__btn{
    background-color: var(--main-alert);
    padding: 0px 10px !important;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}